{% extends "base.html" %}
{% block content %}
  <div class="container my-3">
    <h4 class="border-bottom pb-2 my-3">비밀번호 찾기</h4>

    <form method="post" class="post-form" action="{% url 'users:password_reset' %}">
      <!-- action 속성은 생략 가능 -->
      {% csrf_token %}
      {% include "form_errors.html" %}
      <div class="form-group">
        <label for="username">사용자명</label>
        <input type="text" class="form-control my-2" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
        <label for="email">등록한 이메일</label>
        <input type="text" class="form-control my-2" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
      </div>
      <button type="submit" class="btn btn-primary my-2">이메일 전송</button>
    </form>
    <div class="text-center">로그인으로 돌아가기</div>
    <div class="text-center">새 계정을 만드시려면 <a href="{% url 'users:signup' %}">회원가입</a></div>
  </div>
{% endblock %}